
.shadow-split-widget {
  display: flex;
  overflow: hidden;
}

.main-layout-split {
  min-width: 0;
  min-height: 0;
}

.main-layout-pane {
  min-width: 0;
  min-height: 0;
  display: flex;
  overflow: hidden;
}

.main-layout-pane-list,
.main-layout-pane-details {
  flex: 1 1 auto;
}

.shadow-split-widget.hbox > .shadow-split-widget-sidebar {
  border: 0;
  border-right: 1px solid var(--divider-color);
}

.shadow-split-widget-contents {
  display: flex;
  position: relative;
  flex-direction: column;
  contain: layout size style;
}

.shadow-split-widget-sidebar {
  flex: none;
  flex-basis: 300px;
}

.shadow-split-widget-main {
  flex: auto;
}

.gutter {
  cursor: ew-resize;
  border-left: var(--divider-border);
  margin-left: -1px;
  margin-right: -4px;
  z-index: var(--z-resizer);
}
